#tarningar, #checkboxes {
    font-size: 2em;
    display: flex;
    flex-direction: row;
}
p {
    margin-bottom: 0;
}
#tarningar p{
    margin:0 20px;
    border: 2px solid blue;
    border-radius: 10%;
    flex-basis: 100px;
    text-align: center;
}
#checkboxes p {
    margin:0 20px;
    flex-basis: 100px;
    text-align: center;
 }